.sidebar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.sidebar-icon > span {
  font-size: .7rem;
  font-weight: bold;
}
.sidebar-icon > svg {
  font-size: 25px;
}