.leaflet-container{
  width: calc(100vw - 400px);
  height: 100vh;
  display: inline-block;
}
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  /* background: #fff; */
  position: absolute;
  border-radius: 50%;
 }
.custom-div-icon svg {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 3px;
  text-align: center;
}

.textAreaDescription {
  resize: none;
}

.toast {
  background-color: white;
}
.toast-container {
  position: fixed !important;
  z-index: 1000;
}
